    <div class="jumbotron text-center" id="mainHeader">
        <h1 class="noBackgroundColor">Realtime Stratey Games Forum</h1>
        <p class="noBackgroundColor">It's for the Players</pclass="noBackgroundColor">        
    </div>