
<div class="jumbotron text-center" id="HeaderPic">
    <h1 id="HeaderText" class="noBackgroundColor">Realtime Stratey Games Forum</h1>
    <p class="noBackgroundColor" id="HeaderSubTitle">It's for the Players</p>
</div>