<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">
        Logo
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-link" href="#">Link todo</a>
        </li>

        <li class="nav-item dropdown">
            <a class="navbar-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Dropdown link
            </a>
            <div class="dropdown-menu">
                <a class="dorpdown-item" href="#">Link 1</a>
                <a class="dorpdown-item" href="#">Link 1</a>
                <a class="dorpdown-item" href="#">Link 1</a>
            </div>
        </li>

        <li class="nav-item right">
            <a class="navbar-link" href="#">Link todo</a>
        </li>

    </ul>
</nav>
