

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            Logo
        </a>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="navbar-link" href="#">Link todo</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>    <br />
                    <a class="dropdown-item" href="#">Link 2</a>    <br />
                    <a class="dropdown-item" href="#">Link 3</a>    <br />
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>    <br />
                    <a class="dropdown-item" href="#">Link 2</a>    <br />
                    <a class="dropdown-item" href="#">Link 3</a>    <br />
                </div>
            </li>
            <li class="nav-item right">
                <a class="navbar-link" href="#">Link todo</a>
            </li>

        </ul>
    </nav>


