#HeaderPic{
    background-image: url(../../Media/Pictures/Eu4banner_2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 200px;
}

#content{
    background-color: #423f3f;
}

#Header{
    height: 200px;
}