#HeaderPic{
    background-image: url(../../Media/Pictures/Eu4banner_2.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 200px;
}

#Header{
    height: 200px;
}

a:hover{
    text-decoration-color:none;
    color: black;
    margin: 0;
}

.ContentSites {
    background-color: #626262;
}

table{
    border: 1px solid black;
}

tr {
    border: 1px solid black;
    background-color: #626262;
}

td {
    border: 1px solid black;
}

body {
    background-color: #626262;
}

.footer{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:50px;
    background-color:#343A40;
    color:#808080;
}

#Icon{

    margin-right: 4px;
    margin-bottom: 2.5px;
    height: 20px;
    width: 20px;

}


.eu4head {
    margin-left: auto;
    margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

h1 {
    font-family: 'Lora', serif;
}

.ForumsEntry{
    min-width: 50%;
}

.ForumsEntry textarea {
    min-width: 99%;
    min-height: 200px;
}







