<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Eu4banner_2.jfif')";
</script>




@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-md-center">Welcome</h1>

<a href='@Url.Action("newEntry", "Forum")' class="btn btn-primary">neuer Post</a>