@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-md-center">Welcome</h1>

<a href='@Url.Action("newEntry", "Forum")' class="btn btn-primary">neuer Post</a>

<img src="~/Media/Pictures/paradoxlogo.jpg" />