[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1028: Code should not contain trailing whitespace
dotnet_diagnostic.SA1028.severity = none

# IDE0055: Formatierung beheben
dotnet_diagnostic.IDE0055.severity = none

# SA1121: Use built-in type alias
dotnet_diagnostic.SA1121.severity = none
