<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Starcraft2_banner.jpg')";
    document.getElementById("HeaderPic").style.height = "200px";
    document.getElementById("HeaderPic").style.position = "50%";
    document.getElementById("NavbarIcon").src = "../../Media/Pictures/BlizzardIcon.jpg";

</script>
<body>

    <img src="~/Media/Pictures/BlizzardIcon.jpg" /> <br />
    <img src="~/Media/Pictures/paradoxicon.png" />


</body>