<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/CrusaiderKings2Banner.jfif')";
</script>

<div class="ContentSites">
    <h1>Crusaider Kings</h1>
    <p>
        asjdflkasdf apdsf
        asdflasdf
        sadflasdf

    </p>
</div>