<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Hoi4Banner.png')";
</script>

<h1>Crusaider Kings</h1>
