<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('/Media/Pictures/EUbanner_Steam.png')";
</script>

<body>
    <h1 class="text-md-center h1Schrift">Europa Universalis 4</h1>
    <p>öadsjflöajsdfaksdfjads</p><br />
    <p>alöjsdlföaösdlfladslkfal</p><br />
    <p>ölkasdfaökjlsdflkadskfal</p><br />

                                   <div class="gallerycontainer">

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <br />

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="75px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="70px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4.</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <br />

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="100px" height="66px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <br />

                                       <a class="thumbnail" href="#thumb">Elias Rist<span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <br />

                                       <a class="thumbnail" href="#thumb">Lukas Heber<span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                   </div>



</body>