<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('/Media/Pictures/EUbanner_Steam.png')";
</script>

<body>
    <h1 class="text-md-center">Europa Universalis 4</h1>
    <p>öadsjflöajsdfaksdfjads</p><br />
    <p>alöjsdlföaösdlfladslkfal</p><br />
    <p>ölkasdfaökjlsdflkadskfal</p><br />
    <div class="eu4head">
        <img  src="~/Media/Pictures/europa-universalis-4-background-4.jpg" />
    </div>
    


</body>