<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('/Media/Pictures/EUbanner_Steam.png')";
</script>

<body>
    <h1 class="text-md-center h1Schrift">Europa Universalis IV</h1>

                                   <div class="gallerycontainer">

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />Hier wir die Beschreibung für </span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>


                                       <br />

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4.</span></a>


                                       <br />

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>

                                       <a class="thumbnail" href="#thumb"><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" width="200px" height="166px" border="0" /><span><img src="~/Media/Pictures/europa-universalis-4-background-4.jpg" /><br />eu4</span></a>


                                   </div>



</body>