<script>
    document.getElementById("HeaderText").innerHTML = "Hearts of Iron";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Eu4banner.jfif')";
</script>

<h1>Hoi4</h1>
