<script>
    document.getElementById("HeaderText").innerHTML = "";
    document.getElementById("HeaderSubTitle").innerHTML = "";
    document.getElementById("HeaderPic").style.backgroundImage = "url('../../Media/Pictures/Hoi4Banner.png')";
</script>

@model  Project4BHWII.Models.newEntry
@using Project4BHWII.Models
@{
    ViewBag.Title = "newEntry";
}
@using (Html.BeginForm())
{
<table align="center" class="ForumsEntry">
    <thead>
        <tr id="EntryHead">
            <td colspan="2"> neuer Post</td>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            Username:
        </td>
            @{
                User user = Session["User"] as User;
                if (user != null)
                {
                    <td>
                        @user.Username
                    </td>
                }
                else
                {
                    <td>
                        GastUser
                    </td>
                }
            }
        </tr>
        <tr>
            <td colspan="2">@Html.TextAreaFor(u => u.Entry, new { required = "required" })</td>
        </tr>
        <td colspan="2" , style="text-align: center">
            <input type="submit" value="Posten" id="btnSubmit" class="btn bg-secondary"/>
            <a href="@Url.Action("Index", "Home")" class="btn bg-secondary">abbrechen</a>
        </td>
    </tbody>
</table>
}